<div class="low">


<aside class="col-md-4">
    <section class="user_info">
        <h1 class="show_h1">
            <%= gravatar_for @user %>
            <%= @user.name %>
        </h1>
        
        <table class="table table-striped">
          <tr>
              <th><span class="glyphicon glyphicon-envelope icons_gray" aria-hidden="true"></span>email</th>
              <td><%= @user.email %></td>
          </tr>
          <tr>
              <th><span class="glyphicon glyphicon-globe icons_gray" aria-hidden="true"></span>city</th>
              <td><%= @user.city %></td>
          </tr>
          <tr>
              <th><span class="glyphicon glyphicon-user icons_gray" aria-hidden="true"></span>profile</th>
              <td><%= @user.profile %></td>
          </tr>
          <tr>
              <th><span class="glyphicon glyphicon-cd icons_gray" aria-hidden="true"></span>music</th>
              <td><%= @user.music %></td>
          </tr>
        </table>

        <%= link_to "edit" , edit_user_path, class: "btn btn-default btn-block" %>
    </section>
</aside>

<div class="col-md-8">
    
<%= render 'follow_form' if logged_in? %>
    <% if @followers.any? %>
        <h3>Forrowers Users <span class="badge"><%= @followers.count %><?span></h3>
          <ol class="row following_box">
            <%= render @followers %>
          </ol>
    <% end %>
</div>


</div>