<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<table class="table table-striped">
  <tr>
      <th><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>email</th>
      <td><%= @user.email %></td>
      <td>(<%= link_to "edit" , edit_user_path %>)</td>
  </tr>
  <tr>
      <th><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>password</th>
      <td><%= @user.password %></td>
      <td>(<%= link_to "edit" , edit_user_path %>)</td>
  </tr>

</table>


