<div class="low">


<aside class="col-md-4">
    <section class="user_info">
        <h1 class="show_h1">
            <%= gravatar_for @user %>
            <%= @user.name %>
        </h1>
        
        <table class="table table-striped">
          <tr>
              <th><span class="glyphicon glyphicon-envelope icons_gray" aria-hidden="true"></span>email</th>
              <td><%= @user.email %></td>
          </tr>
          <tr>
              <th><span class="glyphicon glyphicon-globe icons_gray" aria-hidden="true"></span>city</th>
              <td><%= @user.city %></td>
          </tr>
          <tr>
              <th><span class="glyphicon glyphicon-user icons_gray" aria-hidden="true"></span>profile</th>
              <td><%= @user.profile %></td>
          </tr>
          <tr>
              <th><span class="glyphicon glyphicon-cd icons_gray" aria-hidden="true"></span>music</th>
              <td><%= @user.music %></td>
          </tr>
        </table>

        <%= link_to "edit" , edit_user_path, class: "btn btn-default btn-block" %>
    </section>
</aside>

<div class="col-md-8">
    <% if @followings.any? %>
        <h3>Forrowing Users <span class="badge"><%= @followings.count %><?span></h3>
          <ol>
            <%= render @followings %>
          </ol>
    <% end %>
    
    <%= render 'follow_form' if logged_in? %>
    <% if @microposts.any? %>
        <h3>Microposts <span class="badge"><%= @microposts.count %><?span></h3>
        <ol class="microposts">
            <%= render @microposts %>
        </ol>
    <% end %>
</div>


</div>